.task-container{
    margin-top:100px;
   
  
}
ul li{
    list-style: none;
  
}
ul {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.btn1,.btn2{
    width: 200px;
    color: white;
    height: 50px;
    border: transparent;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
}
.btn1{
    /* background-image: linear-gradient(to right , #7986cb , #7e57c2); */
    background-image: linear-gradient(to right , #f48fb1 ,#ba68c8);
    
    box-shadow: 0 5px 4px #b39ddb;
}
.btn2{
    background-image: linear-gradient(to right , #80deea, #4fc3f7);
    box-shadow: 0 5px 4px #81d4fa;
    
}
.btn1:hover, .btn2:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Increase shadow on hover */
}