.footer-container {
    margin-left: 200px;
    height: 5vh;
    width: calc(100% - 200px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
}

.footer-container p {
    font-size: 14px;
    color: rgb(163, 163, 163);
    margin: 0; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

