.table-container {
    overflow-x: auto;
   
    box-shadow: 0 4px 8px #d1c4e9; 
  }
 
  .table-container th{
    background-color: #9575cd;
  }
  .table-container td{
    background-color: #eff6f7;
  }
  .table-container mat-paginator{
    background-color: #b0bec5;
    
  }
  mat-icon{
    display: flex;
    width: 30px;
    align-items: center;
  }

  .claim-button{
    margin-left: 5px;
    width: 80px;
    height: 40px;
    border-radius: 40%;
    color: rgb(248, 245, 239);
    font-style: italic;
    font-size: medium;
    font-weight: 600;
    border: 3px solid #ff6f00;
    background: linear-gradient(90deg , #ffa726 0%, #ef6c00 100%);
    box-shadow: 0 4px 4px orange;
  }
 button :hover{
  
  color: #9575cd;
 }
 .button-container{
  display: flex;
  flex-direction: row;
  gap:10px;
 }
 .checkbox-container{
  margin-top: 10px;
 }
 .checkbox-container input{
  width: 15px;
  height: 15px;
 }
 .download{
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 15px;
 }
 .download button {
  
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #7c4dff;
  border-radius: 50px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  line-height: 26px;

 }
 .download button:hover{
  background-color: #b39ddb;
 }

 .checkbox-container .container {
  cursor: pointer;
}

.checkbox-container .container input {
  display: none;
}

.checkbox-container .container svg {
  overflow: visible;
}

.checkbox-container .path {
  fill: none;
  stroke: rgb(12, 11, 11);
  stroke-width: 6;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
  stroke-dasharray: 241 9999999;
  stroke-dashoffset: 0;
}

.checkbox-container .container input:checked ~ svg .path {
  stroke-dasharray: 70.5096664428711 9999999;
  stroke-dashoffset: -262.2723388671875;
}
