<div class="information-container">
    <div class="section1">
        <div >
            <h3>User-Info</h3>
            <div class="child1">
                <div>
                    <p>firstName</p>
                    <p>lastName</p>
                    <p>Age</p>
                    <p>Gender</p>
                    <p>Salary</p>
                </div>
                <div> 
                    <p>jakarta</p>
                </div>
            </div>
            
        </div>
        <div class="user-details">
            <h3>Loan-info</h3>
          <div class="loan-details">
            <div>
                <p>Existing Loan</p>
                <p>newLoanAmount</p>
                <p>tenure</p>
                <p>rateOfInterest</p>
            </div>
            <div>
                <p>25000</p>
            </div>
        </div>
            <p>in progress</p>
        </div>
    </div>
    <div class="section2">
        in progress
    </div>
</div> 


