<div class="information-container">
    <div class="section1">
        <div >
            <h3>User-Info</h3>
            <div class="child1">
                <div>
                    <p>First Name</p>
                    <p>Age</p>
                    <p>Gender</p>
                    <p>Salary</p>
                </div>
                <div> 
                    <p>{{loanObject.loanDetails.name}}</p>
                    <p>{{loanObject.loanDetails.age}}</p>
                    <p>{{loanObject.loanDetails.gender}}</p>
                    <p>{{loanObject.loanDetails.salary}}</p>
                    
                </div>
            </div>
            
        </div>
        <div class="user-details">
            <h3>Loan-info</h3>
          <div class="loan-details">
            <div>
                <p>Existing Loan</p>
                <p>New Loan Amount</p>
                <p>Tenure</p>
                <p>Interest</p>
            </div>
            <div>
                <p>{{loanObject.loanDetails.existingLoan}}</p>
                <p>{{loanObject.loanDetails.newLoanAmount}}</p>
                <p>{{loanObject.loanDetails.ternure}}</p>
                <p>{{loanObject.loanDetails.rateOfInterest}}</p>
            </div>
        </div>
            <p>in progress</p>
        </div>
    </div>
    <div class="section2">
        <div>
        {{loanObject.taskDetails.stage}} - {{loanObject.userDetails.firstName}}
    </div>
        <div>
            <button class="download" (click)="onApproval()">Approve</button>
        </div>
    </div>
    
</div> 


