<div class="dialog-container">
  <div>
    <form [formGroup]="processForm" (ngSubmit)="onSingup()">
      <p class="heading">Please fill the details</p>
      <div class="form-control">
        <div *ngIf="user">
          <p>Employee Id - {{ user.empId }}</p>
        </div>
        <div class="content">
          <input type="text" formControlName="name" id="name" class="input-text" placeholder="Full Name">
        
          <!-- <small *ngIf="processForm.get('name')?.invalid && processForm.get('name')?.touched">Name required 3 characters</small> -->
        </div>
        
        <div class="content">
          <input type="number" formControlName="age" id="age" class="input-text" placeholder="Age">
          <small *ngIf="processForm.get('age')?.invalid && processForm.get('age')?.touched">Age required</small>
        </div>
        <div class="content">
          <select formControlName="gender" id="gender" class="form-control">
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Non_binary">Non-binary</option>
          </select>
          <small *ngIf="processForm.get('gender')?.invalid && processForm.get('gender')?.touched">*required</small>
        </div>
        <div class="content">
          <input type="text" formControlName="company" id="company" class="input-text" placeholder="Company Name">
          <small *ngIf="processForm.get('company')?.invalid && processForm.get('company')?.touched">Company name required</small>
        </div>
        <div class="content">
          <input type="number" formControlName="salary" id="salary" class="input-text" placeholder="Salary">
          <small *ngIf="processForm.get('salary')?.invalid && processForm.get('salary')?.touched">Salary required</small>
        </div>
        <div class="content">
          <input type="number" formControlName="existingLoan" id="existingLoan" class="input-text" placeholder="Existing Loan">
          <small *ngIf="processForm.get('existingLoan')?.invalid && processForm.get('existingLoan')?.touched">Existing loan required</small>
        </div>
        <div class="content">
          <input type="number" formControlName="newLoanAmount" id="newLoanAmount" class="input-text" placeholder="New Loan Amount">
          <small *ngIf="processForm.get('newLoanAmount')?.invalid && processForm.get('newLoanAmount')?.touched">New loan amount required</small>
        </div>
        <div class="content">
          <input type="number" formControlName="ternure" id="ternure" class="input-text" placeholder="Tenure">
          <small *ngIf="processForm.get('ternure')?.invalid && processForm.get('ternure')?.touched">Tenure required</small>
        </div>
        <div class="content">
          <input type="number" formControlName="rateOfInterest" id="rateOfInterest" class="input-text" placeholder="Rate of Interest">
          <small *ngIf="processForm.get('rateOfInterest')?.invalid && processForm.get('rateOfInterest')?.touched">Rate of interest required</small>
        </div>
      </div>
      <button type="submit">submit</button>
    </form>
  </div>

  <!-- <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No</button>
    <button mat-button [mat-dialog-close]="true">Yes</button>
  </div> -->
</div>
